@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,500;0,700;1,500;1,700&family=Londrina+Solid:wght@400;900&display=swap');

html {
	box-sizing: border-box;
}
  
*, *:before, *:after {
	box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul, a {
	margin: 0;
	padding: 0;
	font-family: 'Chakra Petch', cursive;
	font-size: 16px;
	font-weight: normal;
	color: #FFFEE1; 
}
  
img {
	max-width: 100%;
	height: auto;
}

a { 
	text-decoration: none;
}

body { 
	background-color: #202332;
}

// more specific stuff here

#sidebar { 
	position: fixed;
	width: 15%;
	border-right-color: black; 
	border-right-width: 2px; 
	border-right-style: solid; 
}

#sidebar #current-page { 
	font-weight: bold; 
}

#content { 
	
}