body::before { 
	content: ""; 
	position: absolute; 
	top: 0px; 
	right: 0px;
	left: 0px; 
	bottom: 0px; 
	opacity: 0.25;
}

.fold { 
	position: relative;
	padding: 20px;
}

.fold h2 { 
	font-size: 1.6em;
	font-family: 'Chakra Petch', cursive;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.32em;
	opacity: 0.72;
}

.fold h4 { 
	font-size: 1.2em;
	font-family: 'Chakra Petch', cursive;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.32em;
	opacity: 0.48; 
} 

.fold h3 { 
	font-size: 2.7em;
	font-family: 'Londrina Solid', cursive;
	font-weight: normal;
	text-align: center;
}

.fold .transmission { 
	width: 72%; 
	padding-top: 30px; 
	padding-bottom: 32px; 
	padding-left: 42px; 
	padding-right: 42px; 
	position: relative;
	
	margin-left: auto; 
	margin-right: auto; 
	border-width: 2px; 
	border-style: solid;
	border-color: #FFFEE1;
}

.fold .transmission h2 { 
	font-size: 1.3em;
	letter-spacing: 0.08em;
	font-weight: normal;
	text-transform: none;
}

.fold .transmission #transmission-head1 { 
	position: absolute;
	width: 23px; 
	height: 23px;
	top: -23px;
}

.fold .transmission #transmission-head2 { 
	position: absolute;
	width: 23px; 
	height: 23px;
	top: -23px;
	right: 48px;
}

.fold .transmission #transmission-lastline { 
	padding-top: 12px;
	display: inline-block;
}

#fold1 { 
	padding-top: 48px;
}

#fold1 h1 { 
	font-weight: bold;
	font-size: 3em;
}

#fold1 #logomark { 
	width: 80%; 
	margin-left: auto; 
	margin-right: auto;
	display: block;
	padding-top: 32px;
	padding-bottom: 84px;
	
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@media screen and (max-width: 800px) {
	  #fold1 #logomark { 
		  width: 90%; 
	  }
	}

#fold1 .transmission { 
	margin-bottom: 24px;
}

#fold2 .transmission { 
	margin-bottom: 96px;
}

#fold2 ul { 
	list-style-type: none;
	margin-bottom: 56px;
}

#fold2 li { 
	text-align: left; 
	display: block; 
	padding-left: 14%; 
	padding-bottom: 16px;
}

#fold2 #ps-worldcat { 
	margin-top: -16px;
	margin-bottom: 4px;
	
	font-size: 0.84em;
	font-family: 'Chakra Petch', cursive;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.27em;
	opacity: 0.72;
}

#fold2 li a { 
	font-size: 9vw;
	font-family: 'Londrina Solid', cursive;
	font-weight: bold;
}

#fold2 li img { 
	position: absolute;
}

#fold2 li #icon-book { 
	height: 12vw;
	margin-top: -8px;
	padding-left: 12px;
}

#fold2 li #icon-events { 
	height: 8.4vw;
	margin-top: 4px;
	padding-left: 24px;
}

#fold2 li #icon-watch { 
	height: 9vw;
	margin-top: 0px;
	padding-left: 18px;
}

#fold2 li #icon-resources { 
	height: 9vw;
	margin-top: 0px;
	padding-left: 16px;
}

#fold2 li a:hover { 
	color: white;
}

#fold2 li a:hover ~ .icon { 
	filter: grayscale(100%)
}

#fold3 { 
	background-color: rgba(0,0,0,0.64);
	padding-top: 78px;
	padding-bottom: 96px;
}

#fold3 p { 
	width: 72%;
	margin-top: 42px;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
	
	font-size: 1.14em;
	letter-spacing: 0.12em;
}